.header{
    display: flex;
    align-items: center;
}
    
.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
    
.header .logo{
    max-width: 100px;
    max-height: 100px;
}

.header .title-group{
    display: flex;
    align-items: center;
}

.header .title-group i{
    padding-right: 5px;
}
